html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.fetch-button {
  font-size: 30px;
  color:blue;
  width:350px;
  padding: 10px;
  border: 1px solid black;
}

html, body {
  position: relative;
  min-height: 100vh;
}

H2 {
  font-size: 50px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 28px;
}

h5  {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}




.background-video {
  position: fixed;
  top: 0;
  object-fit: cover;
  width: 100%;
  min-height: 600px;
  z-index: -100;
}

.hero-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.image-boredom-busters-large{
  display: none;
  position: absolute;
  width: 90%;
  height: auto;
  bottom: 85px;
  left: 50%;
  transform: translate(-50%,0);
}

.image-boredom-busters-small {
  display: inherit;
  position: absolute;
  width: 75%;
  height: auto;
  bottom: 65px;
  left: 50%;
  transform: translate(-50%,0);
}

.animate-logo {
  animation-name: expandOut;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}

@keyframes expandOut {
  70% {width: 200%; opacity: 1}
  100% {width: 0; opacity: 0}
}


.button-container {
  position: absolute;
  bottom: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
}

.category-button {
  width: 15%;
  max-height: 60px;
  height: auto;
}

.throb {
  animation-name: throb;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

@keyframes throb {
  25% {height: 40px}
  50% {height: auto}
  75% {height: 40px}
  100% {height: auto}
}

.wiggle {
  animation-name: wiggle;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  25% {transform: rotate(7deg)}
  50% {transform: rotate(0)}
  75% {transform: rotate(-7deg)}
  100% {transform: rotate(0)}
}


.stretch {
  animation-name: stretch;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

@keyframes stretch {
  25% {width: 18%}
  50% {width: 15%}
  75% {width: 18%}
  100% {width: 15%}
}

.category-button:hover {
  cursor: pointer;
}

.category-page-gradient {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(77,77,77,1), rgba(255,255,255,1));
  bottom: 0;
  z-index: -300;
}

.gradient {
  position: fixed;
  height: 400px;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  bottom: 10%;
}

.bottom-blackout {
  position: fixed;
  bottom: 0;
  height:13%;
  width: 100%;
  background: #000;
}

.photo {
  width: 300px;
  height: auto;
}

.meme-image {
  width: 100%;
  height: 100%;
}

.meme-container {
  position: absolute;
  width: 300px;
  height: 425px;
  background: #fff;
  border: 8px double #000;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
}

.category-page-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.category-logo {
  width: 100%;
}

.category-page-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 50%;
  top:5%;
  left: 50%;
  transform: translate(-50%,0);
  text-align: center;
  z-index: 500;
}

.meme-layout {
  top:0;

}

.category-page-bottom-blackout {
  position: fixed;
  bottom: 0;
  height:10%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.activity-container {
  position: absolute;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  height: 75%;
}

.response-container {
  top: 0;
  min-height: 30%;
  width: 80%;
  padding: 10px 20px;
  font-size: 16px;
  background: #fff;
  border: 1px solid #000;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.4);
}

.joke-box {
  padding: 10px 20px;
  font-size: 16px;
}

.fetch-button-jokes {
  position: absolute;
  bottom: 15%;
  padding: 10px 20px;
  font-size: 24px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.4);
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
}

.fetch-button-jokes:hover, .fetch-button-meme:hover {
  cursor: pointer;
}

.fetch-button-meme {
  position: absolute;
  top: 100%;
  width: 250px;
  padding: 7px 15px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.4);
  left: 50%;
  transform: translate(-50%);
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   TRIVA PAGE   !!!!!!!!!!!!!!!!!!!!!!!!! */



  .selector-cube-container {
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%);
    z-index: 5000;
  }


  @keyframes spincube {
    from,to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }

  .cubespinner {
    -webkit-animation-name: spincube;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 75px 75px 0;
  }
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  .cubespinner:hover {
    animation-play-state: paused;
  }
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

  .cubespinner div {
    position: absolute;
    width: 150px;
    height: 150px;
    font-family: 'Fredoka One', cursive;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.8);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    line-height: 150px;
    text-align: center;
    font-size: 28px;
  }

  .movie {
    line-height: 35px;
    padding-top: 40px;
  }

  .quotes {
    line-height: 35px;
    padding-bottom: 40px;
  }


  .cubespinner .panel-1 {
    transform: translateZ(75px);
  }
  .cubespinner .panel-2 {
    transform: rotateY(90deg) translateZ(75px);
  }
  .cubespinner .panel-3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(75px);
  }
  .cubespinner .panel-4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(75px);
  }
  .cubespinner .panel-5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(75px);
  }
  .cubespinner .panel-6 {
    transform: rotateX(-90deg) translateZ(75px);
  }

  .panel-1:hover, .panel-2:hover, .panel-3:hover, .panel-4:hover, .panel-5:hover, .panel-6:hover {
    color: blue;
    cursor: pointer;
    font-size: 32px ;
  }



/*

.category-cube-stage {
  position: relative;
  font-family: 'Fredoka One', cursive;
  width: 150px;
  height: 150px;

}

.category-cube-container div{
  position: absolute;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  background: rgba(255,255,255,0.8);
  box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
  text-align: center;
  line-height: 150px;
  font-size: 30px;
}

.category-cube-container {
  -webkit-animation-name: rotateCube;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 75px 75px 0;
}



.category-cube-container .category-dogs {
  transform: translateZ(75px);
}

.category-cube-container .category-fashion {
  transform: rotateY(90deg) translateZ(75px);
}

.category-cube-container .category-beer {
  transform: rotateY(90deg) rotateX(90deg) translateZ(75px);
}

.category-cube-container .category-movie-quotes {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(75px);
}

.category-cube-container .category-space {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(75px);
}

.category-cube-container .category-sex {
  transform: rotateX(-90deg) translateZ(75px);
}

.movie {
  line-height: 35px;
  padding-top: 40px;
}

.quotes {
  line-height: 35px;
  padding-bottom: 40px;
}

@keyframes rotate-cube{
  from,to  {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
  16% {transform: rotateY(-90deg);}
  33% {transform: rotateY(-90deg) rotateZ(90deg);}
  50% {transform: rotateY(-180deg) rotateZ(90deg);}
  66% {transform: rotateY(-270deg) rotateX(90deg);}
  83% {transform: rotateX(90deg);}
}
 */





/* .fetch-button-news {
  position: absolute;
  top: 75%;
  width: 250px;
  padding: 7px 15px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.4);
  left: 50%;
  transform: translate(-50%);
  z-index: 200;
} */


/* !!!!!!!!!!!!!!!!!!!!!!  NEWS PAGE   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.news-carousel {
  top: 45%;
  z-index: 800;
}

.news-carousel-card {
  position: relative;
  width: 440px;
  height: auto;
}

.article-title {
  width: 100%;
  top: 0;
  font-size: 20px;
  text-align: center;
  padding: 4px 0;
  background: rgba(255, 255, 255, 1);
}

.summary {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  text-align: center;
  padding: 2px 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 900;
}

.photo {
  width: 100%;
  height: auto;
}

.web-link {
  position: absolute;
  bottom:0;
  width: 440px;
  height: 325px;
  z-index: 1000;
}

.web-link:hover {
  cursor: pointer;
}

.web-link:focus {
  outline: none;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!  MEDIA QUERIES   !!!!!!!!!!!!!!!!!!!!!!!!! */

@media only screen and (min-width: 630px){
  .meme-layout {
    left: 25%;
    top: 23%;
  }
  .meme-container {
    left: 73%;
    top: 5%;
    width: 40%;
    min-width: 300px;
    height: 75%;
  }
}

@media only screen and (min-width: 900px){
  .image-boredom-busters-small {
    display: none;
  }
  .image-boredom-busters-large {
    display: inherit;
  }
  .category-page-hero {
    width:45%;
    top: 4%;
  }
  .category-page-bottom-blackout {
    height: 13%;
  }

  .fetch-button-jokes {
    bottom: 20%;
  }

  .meme-layout {
    left: 25%;
    top: 23%;
  }
}


@media only screen and (min-width: 1200px){
  .category-page-hero {
    width: 35%;
    top: 3%;
  }

  .meme-layout {
    left: 25%;
    top: 23%;
  }
}
