html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

h1 {
  font-size: 30px;
  color:blue;
  width:350px;
  padding: 10px;
  border: 1px solid black;
}

html, body {
  position: relative;
  min-height: 100vh;
  /* transform: rotate(30deg); */
}
.test {
  position: relative;
  height: 400px;
  width: auto;
}


.background-video {
  position: fixed;
  top: 0;
  object-fit: cover;
  width: 100%;
  min-height: 600px;
  z-index: -100;
}

.hero-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.image-boredom{
  display: none;
  position: absolute;
  width: 80%;
  height: auto;
  bottom: calc(60px + 20%);
  left: 50%;
  transform: translate(-50%,0);
}

.image-busters {
  display: none;
  position: absolute;
  width: 80%;
  height: auto;
  bottom: calc(60px + 20%);
  left: 50%;
  transform: translate(-50%,0);
}

.image-boredom-busters {
  position: absolute;
  width: 75%;
  height: auto;
  bottom: 65px;
  left: 50%;
  transform: translate(-50%,0);
}


.button-container {
  position: absolute;
  bottom: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100vh;
}

.category-button {
  width: 15%;
  height: auto;
}

.gradient {
  position: fixed;
  height: 400px;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  bottom: 10%;
}
.bottom-blackout {
  position: fixed;
  bottom: 0;
  height:10%;
  width: 100%;
  background: #000;
}

.photo {
  width: 300px;
  height: auto;
}

.meme-container {
  width: 300px;
  height: auto;
  border: 1px solid #000;
}
